html, body {
box-sizing: border-box;
}

*,::before,::after {
  box-sizing: inherit;
}

  body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.main-picture-sedona {
  background-image: url("../img/mountains.png");
  background-color: #000000;
  background-repeat: no-repeat;
  height: 500px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.main-picture-sedona::after {
  content: "";
    position: absolute;
    bottom: 0;
    left: -1px;
    display: block;
    width: 100.2%;
    height: 57px;
    background-size: 100% 58px;
  background-image: url("../img/white-part.png");
  background-repeat: no-repeat;
}



.intro-welcome {
margin-left: 300px;
margin-top: 30px;
}


.img {

  max-width: auto;
  height: auto;
}

.visually-hidden {
  display: none;
}
.unclear-view-nature {
  background-image: url("../img/unclear-view-nature.png");
  background-color: #000000;
  background-repeat: no-repeat;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;

}

.container {
  margin: 0 auto;
  padding: 0 6%;
}

.shadow {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 30px 10px #dbdbdb;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header-logo {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 138px;
  height: 72px;
  transform: translateX(-50%);
  }

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding-left: 72px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 72px;
  margin-top: 0;
  margin-bottom: 0;
}


.site-navigation a,
.hotels a,
.sorting a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: lightgrey;
  color: #81b3d2;
}

.main-title {
  background-color: white;
}

.main-title h1 {
  font-size: 21px;
  line-height: 26px;
  color: black;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 30px;
  margin-top: 0;
  text-align: center;
}

.main-title p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 0;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
}


.new-town {
  display: flex;

}

.devil-bridge {
  display: flex;
}

.reason-1-2 {
    box-sizing: border-box;
    width: 33.333333%;
    padding-right: 5.5%;
    padding-left: 5.5%;
    font-size: 14px;
    line-height: 21px;
    background-color: #81b3d2;
}


.reason-1-2 h2 {
  width: 166px;
    margin-top: 46px;
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 21px;
    font-weight: 700;
    font-size: 21px;
    color: white;
    text-align: center;
  
}

.reason-1-2 p {
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
  margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 45px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
  }

.reason-1-2 span {
  display: block;
  color: white;
  padding-bottom: 21px;
  text-align: center;
}

.sedona-ranch {

  width: 66.666666%;
    overflow: hidden;
}

.another-list-reasons {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 250px;
  background-color: #eeeeee;
  background-position: center;
}



.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}



.advantages-item {
  width: 400px;
  text-align: center;
  background-color: white;
}


.advantages-item img {
  margin-top: 50px;
}

.advantages-item p {

  margin: 0 50px;
  margin-bottom: 70px;
  color: #333;

}

.advantages-item h2 {

  margin-bottom: 30px;
  margin-top: 30px;
}

.another-list-reasons {
  display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    
    background-color: white-four;
  color: white-four;
  
  }
  
  
  .reasons-3-4-5 {
  width: 400px;
    text-align: center;
  }

.reasons-3-4-5 h2 {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;

}


.reasons-3-4-5 span {
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #333;
}

  .reasons-3-4-5 p {
    margin: 0 50px;
    margin-bottom: 70px;
    color: #333;
  }


.you-interested {
  background-color: #ffffff;
  background-position: 0 0;
}

.you-interested h2 {
  font-size: 30px;
  line-height: 36px;
  color: black;
  text-align: center;
  padding-top: 40px;
  margin: 0;
}

.you-interested p {
  color: #333333;
  text-align: center;
}

.date-arrival {
margin-left: 0;
padding-left: 0;
margin-bottom: 30px;
}

.appointment-item label {
    color: black;
    padding-top: 14px;
    padding-bottom: 13px;

  }


.appointment-item input {
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  width: 343px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 13px;
  font: inherit;
  margin-left: 10px;
}

.half-width-container {
  display: flex;
  justify-content: space-between;

}


.half-width input {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  width: 114px;
  padding-top: 14px;
  padding-bottom: 13px;
  font: inherit;
  color: black;
  margin-bottom: 50px;
  margin-left: 25px;

}

.half-width label {

  color: black;
  padding-top: 14px;
  padding-bottom: 13px;
}


.login-icon-user {
  background-image: url("../img/calendar.svg");
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

.button-brown:focus {
  background-color: #503e33;
  color: lightgray;
}
.button-brown:active {
  background-color: #503e33;
  color: lightgray;
}

.appointment-item input:hover {
  background-color: #ebebeb;
  }

.appointment-item input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  }


.half-width input:hover {
  background-color: #ebebeb;
  }

  .half-width input:focus {
    background-color: #ffffff;
    border: 2px solid #ebebeb;
    }

.search-hotel {
  display: block;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  background-color: #766357;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.button-brown:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-brown:focus {
  background-color: #503e33;
  color: lightgray;
}
.button-brown:active {
  background-color: #503e33;
  color: lightgray;
}

.find-hotel {
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  width: 458px;
  height: 58px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.button-blue:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button-blue:focus {
  background-color: #5496bd;
  color: lightgray;
}
.button-blue:active {
  background-color: #5496bd;
  color: lightgray;
}

.main-footer {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: space-between;

  background-color: white;
}

.footer-hashtag {
  width: 136px;
  margin-top: 45px;
  margin-left: 45px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.tel-number {
  margin-left: 45px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

}

.hashtag-number {

flex: column;
}

.footer-social {
  margin-top: 45px;
  padding-left: 20px;
  display: flex;
}


.social {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #bdc3c7;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social:hover {
  background-color: #669ec0;
}

.social:focus {
  background-color: #5496bd;
}


.social:hover path,
.social:focus path {
  fill: lightgrey;
}

.social-tw {
  background-color: #73bfe6;
}

.social-fb {
  background-color: #73bfe6;
}

.social-ytube {
  background-color: #73bfe6;
}


.footer-contacts a {
  color: black;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: black;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  margin: 0;
  color: #000000;
  text-align: center;
}

.footer-copyright b {
  margin-right: 8px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.button-link {
  width: 115px;
  height: 41px;
  -o-object-fit: contain;
  object-fit: contain;
  color: #231f20;
  text-decoration: none;
}

.button-link:hover,
.button-link:focus {
  fill: #81b3d2;
}

.button-link:active {
  fill: #bdbbbc;
}


.button-transparent {
  background-color: transparent;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  border: 2px solid white-three;
  color: white-three;
  text-transform: uppercase;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 11px;
  padding-bottom: 11px;
}


.hotels {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-top: 30px;
}

.hotel-items {
  display: flex;
  flex-direction: row;
}

.buttons-details-book {
  display: flex;
  flex-direction: row;
}

.hotels-color {
  background-color: white;

}

.hotels span  {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}



.button-details {
  width: 110px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.button-details a {
  color: #ffffff;
}

.button-book {
  width: 110px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: #766357;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.url {
  margin-top: 10px;
  margin-left: 30px;
}

.url a {

  color: white;
}

.name-hotels {
  margin-top: 30px;
  margin-left: 31px;
  margin-bottom: 0;
}

.name-hotels a:hover{
color: #669ec0;
}

.name-hotels a:active{
  color: lightgray;
  }

  .rating {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 450px;
    margin-top: 37px;
    margin-bottom: 30px;

  }

  .sorting-option {
    background-color: #ffffff;
  display: flex;
  flex-shrink: inherit;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;
  justify-content: flex-start;

  }

  .sorting-option h2 {
    margin-left: 20px;
  }

  .sorting-option p {
    margin-left: 40px;
    margin-top: 20px;
  }

  .sorting-option a {
    color: lightgray;
    margin-left: 40px;
    margin-top: 20px;
  }

  .sorting-option a:hover{

    color: #669ec0;
    }

    .sorting-option a:active{
      color: #000000;
      }

      .sorting h2 {
        font-size: 21px;
        line-height: 26px;
        font-weight: 700;
      }

      .sorting p {
        font-size: 12px;
        line-height: 18px;
      }


      .test {
        display: flex;
        flex-wrap: wrap;

        background-color: white;
      }

      .test1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .test2 {
        display: flex;
        flex-direction: column;
      }


      .apartment-features {
        padding-top: 0px;
      }



      .stars-1 {
        display: inline-block;
        padding-left: 16px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
        background-image: url("../img/star.svg");
        background-repeat: repeat-x;
        margin-left: 480px;
        margin-top: 30px;
      }

      .stars-2 {
        display: inline-block;
        padding-left: 16px;
    padding-right: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
        background-image: url("../img/star.svg");
        background-repeat: repeat-x;
        margin-left: 500px;
        margin-top: 27px;
      }

      .stars-3 {
        display: inline-block;
        padding-left: 16px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
        background-image: url("../img/star.svg");
        background-repeat: repeat-x;
        margin-left: 520px;
        margin-top: 27px;
      }


      .test3 {
        display: inline-block;
        padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 0;
      }


      .motel-1 p {
        display: inline-block;
        margin-left: 31px;
        margin-right: 2px;
        margin-bottom: 0;
      }

      .motel-2 p {
        display: inline-block;
        margin-left: 31px;
        margin-right: 29px;
        margin-bottom: 0;
      }

      .motel-3 p {
        display: inline-block;
        margin-left: 31px;
        margin-right: -15px;
        margin-bottom: 0;
      }

      .amara-resort-spa {
        margin-bottom: 2px;
      }

      .desert-quil-inn {
        margin-bottom: 2px;
      }

      .hotel-pics {
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: 10px;
      }

      .villas-at-poco {
        margin-bottom: 2px;
      }

      .map {
        background-image: url("../img/map.png");
  background-color: #000000;
  background-repeat: no-repeat;
  height: 594px;
  background-position: 50% 50%;
  background-size: cover;}

      .filter-range {
        width: 330px;
        color: #ffffff;
        text-transform: uppercase;
        padding-left: 200px;
        padding-top: 30px;

      }

      .filter-range-title {
        margin-bottom: 9px;

        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
      }

      .price-controls {
        position: relative;
        height: 36px;
        margin-bottom: 20px;

        border: 2px solid #ffffff;
        border-radius: 2px;
      }

      .price-controls::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 2px;
        height: 22px;

        background: #ffffff;
        transform: translate(-50%, -50%);
      }

      .price-controls label {
        display: inline-block;

        font-size: 14px;
        line-height: 38px;
        vertical-align: top;

        cursor: pointer;
      }

      .price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 80px;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;


  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* Всплывающая форма */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


.modal {
  content: "";
  position: absolute;
  color: white;

  background-color: white;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.booking-container {
  position: relative;
}

.modal-booking {
  box-sizing: border-box;
  top: 86px;
  left: 50%;
  width: 568px;
  padding: 55px 55px;
  transform: translateX(-50%);
}

.login-checkbox {
  position: relative;

  padding-left: 40px;
}


.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid white;
}

.checkbox-on {
  background-image: url("../img/checkbox-on.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;

}

.icon-up {
  background-image: url("../img/icon-up-dir.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;

}


.features-list-1 {

list-style: none;
padding-bottom: 30px;
padding-left: 30px;
}

.features-list-2 {

  list-style: none;
  padding-bottom: 30px;
  padding-left: 80px;
  }

.features-lists label {

color: white;
}

.checkbox-items {
 display: flex;
 color: white;
}

.items-1 p {
  padding-top: 20px;
  padding-left: 70px;
  font-size: 16px;
  line-height: 21px;
}

.items-2 p {
  padding-top: 20px;
  padding-left: 120px;
  font-size: 16px;
  line-height: 21px;
}







