body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: black;
  background-color: #f2f2f2;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: lightgrey;
  color: #81b3d2;
}

.white-part {
  background-image: url("white-part.png");

}

.main-title {
  background-color: white;
}

.main-title h1 {
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-align: center;
}

.main-title p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.reason-1-2 {
  background-color: #81b3d2;
}

.reason-1-2 h2 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.reason-1-2 p {
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
  text-align: center;
}

advantages-list {
  background-color: white;

}

.advantages-list li {
  list-style: none;

}

.advantages-item h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-item p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;

}

.another-list-reasons {
list-style: none;
background-color: white-four;
color: white-four;
}

.reasons-3-4-5 {
text-align: center;
}

.reasons-3-4-5 h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reasons-3-4-5 p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.you-interested {
  background-color: #ffffff;
  background-position: 0 0;
}

.you-interested h2 {
  font-size: 30px;
  line-height: 36px;
  color: black;
  text-align: center;
}

.you-interested p {
  color: #333333;
  text-align: center;
}


.appointment-form {
  background-color: white; 
}


.appointment-item input {
  border: none;
  background-color: #f2f2f2; 
}

.appointment-item input:hover {
background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  }

.half-width input {
  border: none;
  background-color: #f2f2f2;
}

.half-width input:hover {
  background-color: #ebebeb;
  }
  
  .half-width input:focus {
    background-color: #ffffff;
    }


.search-hotel {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-right: 316px;
  margin-left: 316px;
  background-color: #766357;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.button-brown:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-brown:focus {
  background-color: #503e33;
  color: white-30;
}
.button-brown:active {
  background-color: #503e33;
  color: white-30;
}

.find-hotel {
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  width: 458px;
  height: 58px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.button-blue:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button-blue:focus {
  background-color: #5496bd;
  color: white-30;
}
.button-blue:active {
  background-color: #5496bd;
  color: white-30;
}


.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #81b3d2;
}


.main-footer {
  background-color: #ffffff;
  background-position: 0 0;
}

.footer-contacts a {
  color: black;

}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: black;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: black;
}

.features-item {
  list-style: none;

}

.button-transparent {
  background-color: transparent;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  border: 2px solid white-three;
  color: white-three;
  text-transform: uppercase;
}